*.gcda
*.gcno
*.la
*.lo
*.o
*.plist
.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
coverage.info
coveragereport/
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
tap-driver.sh
test-driver
u3-*.tar.gz
u3-*.tar.gz.sha1
www/downloads.html
www/manuals
www/out
